.bg1{
  background-color: #d0cecee3;
}
.my-brand{
  margin-left: 5%;
  
  font-size: large;
  font-weight: bold;
  color: gray;
}
.ds-in-b{
  width: 100%;
  display: inline-block;
}
.mynav-link{
  margin-left: 20%;
}
.d_inl{
  display: inline-block;
}
.fl-r{
  float: right;
}
.fl-l{
  float: left;
}
.line{
  border-top: 1px solid black;
}
.personal{
  margin-left: 20px;
}
.join{
  border-radius: 15px;
  background-color: #bcc4d280;
}
.w{
  width: fit-content;
}
.just{
  font-size: xx-large;
  font-weight: bold;
}
.img{
  width: 60%;
  height: 300px;
}
.imglist{
  margin-left: 20%;
  width: 80%;
  height: 65px;
}
.myicon{
  margin-top: 30px;
  margin-left: 50%;
  
}
