.bg1{
  background-color: #d0cecee3;
}
.my-brand{
  margin-left: 5%;
  
  font-size: large;
  font-weight: bold;
  color: gray;
}
.ds-in-b{
  width: 100%;
  display: inline-block;
}
.mynav-link{
  margin-left: 20%;
}
.d_inl{
  display: inline-block;
}
.fl-r{
  float: right;
}
.fl-l{
  float: left;
}
.line{
  border-top: 1px solid black;
}
.personal{
  margin-left: 20px;
}
.join{
  border-radius: 15px;
  background-color: #bcc4d280;
}
.w{
  width: fit-content;
}
.just{
  font-size: xx-large;
  font-weight: bold;
}
.img{
  width: 60%;
  height: 300px;
}
.imglist{
  margin-left: 14%;
  width: 80%;
  height: 65px;
}
.myicon{
  margin-top: 30px;
  margin-left: 50%;
  
}
.about{
  margin-top: 130px;
}
.aboutimg{
  width: 60%;
  height: 600px;
  margin-top: 100px;
  margin-left: 25px;
}
.rela-div{
  position: relative;
}
.rev{
  position: absolute;
  width: 400px;
  height: 175px;
  top: 50%;
  margin-top: 170px;
  margin-left: 10%;
  transform: translate(0,-50%);
  background:#564f73;
  border-radius: 3px;
}
.ser-rel{
  position: relative;
}
.service-div{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 610px;
  margin-left: 10%;
  width: 60%;
  transform: translate(-60%,-40%);
  background-color: #564f73;
}
.text{
  color: white;
  font-family: Arial, sans-serif;
  font-size: small;
}
.imgab{
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: 10px;
}

.stars
{
  margin-top: -10px;
  float:right;
  margin-right: 40px;
}

.ttt{
  margin-left: -20px;
}

.reviwes
{
  color: white;
  font-size: 11px;
  margin-left: 10px;
  text-align: center;
  margin-top: -40px;
  margin-left: 50px;
}
.lst{
  margin-top: 150px;
}
.titre{
  margin-left: 30%;
}
.serviceimg{
  width: 80%;
  height: 680px;
  margin-top: 100px;
  margin-left: 15%;
}
.serv{
  margin-left: 30%;
}
.serv h6{
  margin-top: 60px;
}
.white_text{
  color: white;
}